@*@using JSON_dll;*@
@using SQL_dll;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header
{
    <header>
        <h4>HEADER</h4>
    </header>
}

<form id="form" class="main-form" method="GET">
    <div class="link-list">
        @foreach (Note record in ViewBag.notes)
        {
            Html.RenderPartial("Partial_Note", record);
        }
    </div>
    <div>
        <input class="link-button" type="submit" value="Добавить" formaction="/Notes/Add" />
        <input name="updateButton" class="link-button" type="submit" value="Изменить" formaction="/Notes/Update/" onclick="OnClick(event)" disabled />
        <input name="deleteButton" class="link-button" type="submit" value="Удалить" formaction="/Notes/Delete/" onclick="OnClick(event)" disabled />
    </div>
</form>


@section footer
{
    <footer>
        <h4>FOOTER</h4>
    </footer>
}
