<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Main.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/Main.js"></script>

</head>
<body>
    @RenderSection("header", true)
    
    <hr />
    <div>
        @RenderBody()
    </div>
    @RenderSection("footer", true)
</body>
</html>
